<nav class="navbar navbar-expand-lg fixed-top bg-darker">
  <div class="container-lg-fluid container">
    <a class="navbar-brand bg-light" routerLink=" bg-light"
      ><img src="assets/images/freshcart-logo.svg" alt="logo"
    /></a>
    <button
      class="navbar-toggler shadow-0"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fa fa-bars text-white"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li *ngIf="isLogin" class="nav-item me-2">
          <a
            class="nav-link text-white active rounded"
            aria-current="page"
            routerLink="home"
            routerLinkActive=" text-white rounded "
            >Home</a
          >
        </li>
        <li *ngIf="isLogin" class="nav-item me-2">
          <a
            class="nav-link text-white active rounded"
            aria-current="page"
            routerLink="products"
            routerLinkActive=" text-white rounded"
            >Products</a
          >
        </li>
        <li *ngIf="isLogin" class="nav-item me-2">
          <a
            class="nav-link text-white active rounded"
            aria-current="page"
            routerLink="categories"
            routerLinkActive=" text-white rounded"
            >Categories</a
          >
        </li>
        <li *ngIf="isLogin" class="nav-item me-2">
          <a
            class="nav-link text-white active rounded"
            aria-current="page"
            routerLink="brands"
            routerLinkActive=" text-white rounded"
            >Brands</a
          >
        </li>
      </ul>
      <ul
        class="navbar-nav ms-auto mb-2 me-2 mb-lg-0 social-icons gap-2 flex-row"
        *ngIf="isLogin"
      >
        <li><i class="cursor-pointer text-white fa-brands fa-facebook"></i></li>
        <li><i class="cursor-pointer text-white fa-brands fa-twitter"></i></li>
        <li>
          <i class="cursor-pointer text-white fa-brands fa-instagram"></i>
        </li>
        <li><i class="cursor-pointer text-white fa-brands fa-tiktok"></i></li>
        <li><i class="cursor-pointer text-white fa-brands fa-youtube"></i></li>
        <li>
          <i class="cursor-pointer text-white fa-brands fa-pinterest"></i>
        </li>
      </ul>
      <ul class="navbar-nav me-2 mb-2 mb-lg-0">
        <li *ngIf="!isLogin" class="nav-item me-2 rounded">
          <a
            class="nav-link text-white active rounded"
            aria-current="page"
            routerLink="login"
            routerLinkActive="bg-dark text-white rounded"
            >LogIn</a
          >
        </li>
        <li *ngIf="!isLogin" class="nav-item me-2 rounded">
          <a
            class="nav-link text-white active rounded"
            aria-current="page"
            routerLink="signup"
            routerLinkActive="bg-dark text-white rounded"
            >SignUp</a
          >
        </li>
        <li *ngIf="isLogin" class="nav-item me-2 rounded">
          <a
            class="nav-link text-white active rounded cursor-pointer"
            aria-current="page"
            routerLinkActive="bg-dark text-white rounded"
            (click)="logOut()"
            >LogOut</a
          >
        </li>
        <li *ngIf="isLogin" class="nav-item me-2 rounded">
          <a
            class="nav-link text-white active rounded"
            aria-current="page"
            routerLink="settings"
            routerLinkActive="bg-dark text-white rounded"
            >Settings</a
          >
        </li>
      </ul>
      <a routerLink="cart" *ngIf="isLogin"
        ><i class="fa-solid fa-cart-shopping cursor-pointer"></i
      ></a>
    </div>
  </div>
</nav>
